<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="my-container"></div>
  <script data-main="main-test" src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
</body>
</html>
