$blue: #2c26bc;
$title-blue: #01058a;
$submit-background-color: #5bcbf5;
$error: #dc3545;
$input-border: #ced4da;

body {
    background-color: $blue;
}

.cs-signup-widget-container {
    font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
    width: 32.857em;
    border: 1px solid #e7e8f2;
    border-radius: 6px;
    background-color: white;
    position: relative;

    .content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        color: #323232;
        background-color: white;
        padding: 2.571em;
        position: relative;

        h1 {
            line-height: 1;
            margin: 0 0 0.857em;
        }

        p {
            margin: 0 0 0.857em;
            font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
        }

        .cs-signup-widget-form {
            margin-bottom: 2.571em;
            display: block;

            .input-section {
                position: relative;
                font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;

                label {
                    color: #b8b8b8;
                }

                label, input {
                    display: block;
                    margin-bottom: 0.571em; // 8px
                }

                input {
                    font-size: 1em;
                    box-sizing: border-box;
                    width: 100%;
                    line-height: 1.5;
                    border-radius: 6px;
                    padding: 0.428em 0.857em;
                    border: 1px solid $input-border;
                    outline: none;

                    &:focus:not(:read-only) {
                        border-color: #80bdff;
                        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
                    }
                }

                input:read-only {
                    background-color: darken(white, 2%);
                }

                input.touched:invalid {
                    border-color: #dc3545;

                    &:focus {
                        border-color: #dc3545;
                        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
                    }
                }
            }
        }

        .submit-button {
            position: relative;
            overflow: hidden;
            transition: background 400ms;
            box-sizing: border-box;
            font-size: 1.2em;
            line-height: 0;
            width: 100%;
            height: 2.857em;
            border-radius: 4px;
            color: white;
            border-style: none;
            background-color: $submit-background-color;
            cursor: pointer;

            .loader {
                display: none;
                border: 0.214em solid #f3f3f3; /* Light grey */
                border-top: 0.214em solid #3498db; /* Blue */
                border-radius: 50%;
                width: 1em;
                height: 1em;
                animation: spin 2s linear infinite;
            }

            &:disabled {
                background-color: lighten($submit-background-color, 10%);
            }
        }

        .success-section {
            .icon {
                width: 2.857em;
                height: 2.857em;
                margin-bottom: 0.571em;
            }

            .success-title {
                font-size: 20px;
                color: #5BCBF5;
                font-weight: 500;
                margin-bottom: 0.6em; // 12px
            }
        }

        .error-message {
            display: none;
            position: absolute;
            bottom: 5.2em;
            left: 2.6em;
            color: $error;
        }
    }

    &.error .error-message {
        display: inline-block;
    }

    .no-margin-bottom {
        margin-bottom: 0;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    &.submitting {
        span.button-text {
            display: none !important;
        }
        span.loader {
            display: inline-block !important;
        }
    }
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}
