<div class="success-section">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 26 26" fit=""
             preserveAspectRatio="xMidYMid meet" focusable="false">
            <g fill="none" fill-rule="evenodd" stroke="#5BCBF5" stroke-linecap="round" stroke-linejoin="round"
               stroke-width="1.5" transform="translate(1 1)">
                <path d="M5.739 12L9.913 16.174 18.261 7.826"></path>
                <circle cx="12" cy="12" r="11.478"></circle>
            </g>
        </svg>
    </div>
    <p class="success-title">Congratulations</p>
    <p>Your CheckSocial account has been created. We have sent you an email containing a link to activate your
        account.</p>
    <strong class="no-margin-bottom">Didn't receive your email?</strong>
    <p class="no-margin-bottom">Please check your junk or spam folders. If you still cannot find the email, please
        contact the Support Team</p>
    <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>
</div>
