<div class="cs-signup-widget-container" id="{{id}}">
    <div class="content">
        {{#if title}}
            <h1>{{title}}</h1>
        {{/if}}
        <form id="cs-signup-widget-form-1" class="cs-signup-widget-form">
            <section class="input-section cs-signup-firstname-container">
                <label for="cs-signup-firstname">First name</label>
                <input class="text-danger" type="text" name="cs-signup-firstname" required="required">
            </section>
            <section class="input-section cs-signup-lastname-container">
                <label for="cs-signup-lastname">Last name</label>
                <input type="text" name="cs-signup-lastname" required="required">
            </section>
            <section class="input-section cs-signup-email-container">
                <label for="cs-signup-email">Email</label>
                <input type="text" name="cs-signup-email" required="required">
            </section>
        </form>
        <button class="ripple-button submit-button">
            <span class="button-text">
                {{#if buttonText}}
                    {{buttonText}}
                {{else}}
                    Sign Up Now
                {{/if}}
            </span>
            <span class="loader"></span>
        </button>
        <p class="error-message">error message</p>
    </div>
</div>
